<div id="container">
    <div id="top">
        <h2>Inventory List</h2>
        <p><span id="itemsFound" data-bind="text: NumberOfResults"></span> Records Found</p>
        <p>Current Page #<span id="currentPage" data-bind="text: CurrentPage"></span></p>
<p>
            <input id="filterKeywords" type="text" /> 
            <input id="getData" onclick="go()" type="button" value="Go" />
        </p>
    </div>
    <table id="dataGrid" class="grid" data-bind="template: {name: 'inventoryListTemplate', foreach: InventoryList}">
        <thead>
            <tr>
                <th><a href="#Type" onclick="sort('Type')">Type</a></th>
                <th><a href="#Builder" onclick="sort('Builder')">Builder</a></th>
                <th><a href="#Model" onclick="sort('Model')">Model</a></th>
                <th><a href="#QOH" onclick="sort('QOH')">QOH</a></th>
                <th><a href="#Cost" onclick="sort('Cost')">Cost</a></th>
                <th><a href="#Price" onclick="sort('Price')">Price</a></th>
                <th><a href="#Received" onclick="sort('Received')">Received</a></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="7" class="pager">
                    <span id="back" onclick="move(-1)">&lt; Back</span>
                    <span id="next" onclick="move(1)">Next &gt;</span>
                </td>
            </tr>
        </tfoot>
    </table>
    <div id="loadingDiv">Loading...</div>

    <script id="inventoryListTemplate" type="text/html">
        <tr>
            <td data-bind="text: Type"></td>
            <td data-bind="text: Builder"></td>
            <td data-bind="text: Model"></td>
            <td data-bind="text: QOH"></td>
            <td data-bind="text: Cost"></td>
            <td data-bind="text: Price"></td>
            <td data-bind="text: Received"></td>
        </tr>
    </script>

</div>
