<div id="container" ng-app="inventory" ng-controller="inventoryListCtrl">
    <div id="top">
        <h2>Inventory List</h2>
        <p><span ng-bind="inventoryListModel.NumberOfResults"></span> Records Found</p>
        <p>Current Page #<span>{{currentPage + 1}}</span></p>
        <p>
            <input type="text" ng-model="filterKeywords" />            
            <input ng-click="go()" type="button" value="Go" />
        </p>
    </div>
    <table id="dataGrid" class="grid">
        <thead>
            <tr>
                <th><a href="#" ng-click="sort('Type')">Type</a></th>
                <th><a href="#" ng-click="sort('Builder')">Builder</a></th>
                <th><a href="#" ng-click="sort('Model')">Model</a></th>
                <th><a href="#" ng-click="sort('QOH')">QOH</a></th>
                <th><a href="#" ng-click="sort('Cost')">Cost</a></th>
                <th><a href="#" ng-click="sort('Price')">Price</a></th>
                <th><a href="#" ng-click="sort('Received')">Received</a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in inventoryListModel.InventoryList">
                <td>{{item.Type}}</td>
                <td>{{item.Builder}}</td>
                <td>{{item.Model}}</td>
                <td>{{item.QOH}}</td>
                <td>{{item.Cost}}</td>
                <td>{{item.Price}}</td>
                <td>{{item.Received | msdate}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" class="pager">
                    <span ng-hide="backButtonHidden" ng-click="move(-1)">&lt; Back</span>
                    <span ng-hide="nextButtonHidden" ng-click="move(1)">Next &gt;</span>
                </td>
            </tr>
        </tfoot>
    </table>

    <div ng-hide="loadingDivHidden">Loading...</div>

</div>
